body{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

.container{
	display: flex;
	justify-content: center;
	margin: 10px;
}

.container_inside1{
	display: flex;
	justify-content: space-between;
	width: 1024px;
	border-bottom: 1px solid #000;
}

.logo img{
	height: 50px;
	margin: 10px;
}

.bold{
	font-weight: bold;
	font-size: 20px;
}

.logo{
	display: flex;
	align-items: center;
	margin-left: 5px;
}

.social_media{
	display: flex;
	align-content: flex-end;
	align-items: center;
	margin-right: 10px;

}

.social_media img{
	height: 40px;
	padding: 5px;

}

.container_inside2{
	display: flex;
	justify-content: space-around;
	width: 1024px;
	border-bottom: 1px solid #000;
}

.container_inside2_right{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
}

.h1{
	text-align: center;
}

.h2{
	text-align: center;
}

.container_inside2_img{
	margin: 10px;
}

.container_inside2_img img{
	max-height: 500px;
}

.container_inside2_right_description_bold{
	font-weight: bold;
}

.container_inside2_right_button{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-align: right;
	margin-bottom: 10px;
}

.container_inside2_right_button a{
	border-radius: 1px solid;
	padding: 0px 10px 0px 10px;
	border-radius: 5px;
	background-color: #402f1e;
	font-size: 15px;
}

.container_inside2_right_button a:hover{
	border-radius: 1px solid;
	padding: 0px 10px 0px 10px;
	border-radius: 5px;
	background-color: #ac701a;
	font-size: 15px;
	cursor: pointer;
}

.container_inside2_right_button p{
	color: white;
}

.container_inside3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1024px;
}

.container_inside3_description{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container_inside4{
	display: flex;
	justify-content: space-between;
	width: 1024px;
}

.container_inside4_topic{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	margin: 5px;
	width: 33%;
}

.container_inside4_topic_image{
	margin: 10px;
}

.container_inside4_topic_title{
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-right: 30px;
	padding-left: 30px;
	border-bottom: solid 1px #000;
	text-align: center;
}

.container_inside4_topic_descrition{
	margin-bottom: 10px;
	padding: 10px;
}

.container_inside4_topic_image img{
	width: 50px;
}

.bottom {
	color: #FFF;
	width: 1024px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px;
	font-weight: bold;
	font-style: italic;
	background-color: #000;
}
.eu{
	padding-left: 10px;
}

.eu img{
	height: 50px;
	border-radius: 50px;
}

.container_inside4_topic_title_bold{
	font-weight: bold;
	font-size: 15px;
}

.container_inside2_right_button a{
	text-decoration: none;
	color: #000;
}

@media (max-width: 769px){
	.container_inside2_img{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.h1{
		font-size: 20px;
	}

	.h2{
		font-size: 15px;
	}

	.container_inside2_right_description p{
		font-size: 15px;
		text-align: center;
	}
}

@media (max-width: 426px){
	.container_inside1{
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 425px;
		border-bottom: 1px solid #000;
	}

	.logo {
	    display: flex;
	    flex-flow: column;
	    align-items: center;
	    margin-left: 0px;
	    margin-bottom: 10px;
	}

	.logo img {
	    height: 50px;
	    margin: 20px;
	}

	.social_media{
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
		margin-bottom: 10px;
		margin-right: 0px;
	}

	.container_inside2 {
	    display: flex;
	    flex-flow: column;
	    align-content: center;
	    justify-content: center;
	    width: 425px;
	    border-bottom: 1px solid #000;
	    margin-right: 5px; 
	    margin-left: 5px;
	}

	.container_inside2_img {
    	display: flex;
    	justify-content: center;
	}

	.container_inside2_img img {
	    width: 300px;
	}

	.container_inside2_right_title{
		text-align: center;
		font-size: 10px;
	}

	.container_inside2_right_price{
		text-align: center;
		font-size: 12px;
	}

	.container_inside2_right_description{
		text-align: center;
		font-size: 15px;
	}

	.container_inside2_right_button a{
		display: flex;
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.container_inside4 {
	    display: flex;
	    flex-flow: column;
	    justify-content: center;
	    width: 425px;
	}

	.container_inside4_topic {
	    display: flex;
	    flex-flow: column;
	    justify-content: center;
	    width: 100%;
	    align-items: center;
	    margin: 5px;
	}

	.container_inside3_title h1{
		font-size: 20px;
	}

	.container_inside3_description h2{
		font-size: 15px;
	}
}






