.section {
	display: flex;	
	flex-flow: column;

}

.container {
	height: 100px;
	width: 223px;
	background-color: #DDD;
	margin: 10px 10px 10px 10px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center; 
	font-size: 40px;
	font-family: arial;
}

button {
	margin: 10px 20px 20px 10px;
	min-width: 223px;
	min-height: 50px;
	border: 1px solid black;
	background-color: blue;
	color: white;

}

#n1 {
	display: none;
}

#text {
	background-color: #EEE;
	margin: 10px 0px 0px 10px;
	width: 223px;
	font-size: 13px;
	text-align: center;
	font-weight: bold;

}